@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

body{
    
    background-color: #020b1c;
    font-family: "Poppins", sans-serif;
}

.innerContainer{
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: center;

    color: #d4d9ed;
}

nav{

    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem;

    /*backdrop-filter: blur(10px); /* For older versions of Safari */


    @media(width <= 40em){
        padding: 1rem;
    }
    
}

.logo{
    width: 180px;

    @media(width <= 40em){
        width: 100px;
    }
}

.btn{
    margin-left: 5px;
    text-decoration: none;
    padding: 10px 15px;
    color: white;
    text-align: center;
    font-size: 18px;
    transition: 0.3s;
    font-family: "Poppins", sans-serif;
    
}

.profile-photo{
    border-radius: 100px;
    margin-left: 20px;
}

.logedin{
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-3{
    font-weight: bold;
    color:#171c3b;
    background: linear-gradient(90deg, var(--c1, #eaf665), var(--c2, #85f5fd) 51%, var(--c1, #eaf665)) var(--x, 0)/ 200%;
    border-radius: 30px;
    padding: 10px 30px;

    @media(width <= 40em){
        display: none;
    }
}

.btn:hover { --x: 100%; }

.btn-3{
    --c1: #eaf665;
    --c2: #85f5fd;
}

.btn-2:hover{
    color: #85f5fd;
}

.btn-1:hover{
    color: #85f5fd;
}


.hide{
    display: none;
}


.movie-cards{
    width: 90%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;

    padding: 2rem;
    background: rgb(17,20,39);
    background: linear-gradient(339deg, rgba(17,20,39,1) 0%, rgb(16, 20, 49) 74%);
}

.one-card{
    width: 100%;
    padding: 5rem;
    border-bottom: 2px solid #1b1f3a;
    align-items: start;

    display: flex;
}


.poster img{
    width: 168px;
    border-radius: 10px;
}

.data{
    width: 70%;
    margin-left: 1rem;
}

.rate{
    text-align: center;
    cursor: pointer;
    border: 1px solid #ffc107;
    color: #ffc107;
    background: none;
    padding: 10px;
    width: 15%;
    border-radius: 50px;
    transition: 0.3s;
}

#rate-text{
    color: #ffecb3;
}

.rate:hover{
    color: #1b1f3a;
    background: #ffc107;
}


.title{
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 0.8rem;
}

.data-set, p{
    display: flex;
    align-items: center;
}

.data-set img{
    margin-right: 10px;
}

.part-one span{
    gap: 20px;
    color: #9ea8cb;
}

.part-one span:last-child{
    margin-top: 10px;
}

.partTow{
    margin-top: 1.6rem;
    display: flex;
    gap: 10px;
}

.partTow p{
    padding: 0.8rem;
    width: 15%;
    background-color: #0d0f20;
    border-radius: 50px;
    font-size: 0.8rem;
    justify-content: center;
    color: #bdc6e3;
}

.description{
    margin-top: 1.6rem;
    width: 80%;
    font-size: 0.8rem;
    color: #9ea8cb;
}

.options{
    width: 30%;
}

.towBtn{
    display: flex;
    gap: 5px;
    align-items: center;
    text-align: left;
    color: #d4d9ed;
    font-size: 1rem;
    font-weight: 500;
    border: none;
    width: 100%;
    border-radius: 5px;
    padding: 2.5rem;
    margin-top: 20px;
    cursor: pointer;
}

.towBtn img{
    margin-right: 20px;
}

.wL{
    background: #5e283c;
    transition: 0.3s;
}

.mF{
    background: #0d0f20;
    transition: 0.3s;
}


.wL:hover {
    background: #7b334e;
}

.mF:hover {
    background: linear-gradient(339deg, rgb(29, 34, 66) 0%, rgb(24, 30, 74) 74%);
}

.fActivited {
    background: linear-gradient(339deg, rgb(29, 34, 66) 0%, rgb(24, 30, 74) 74%);
    border: 2px #1f2651 solid;
}