@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



body {
    background-color: #020b1c;
    font-family: "Poppins", sans-serif;
}

.header {
    width: 100%;
}


nav {


    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem;

    /*backdrop-filter: blur(10px); /* For older versions of Safari */


    @media(width <=40em) {
        padding: 1rem;
    }

}

.logo {
    width: 180px;

    @media(width <=40em) {
        width: 100px;
    }
}

.btn {
    margin-left: 5px;
    text-decoration: none;
    padding: 10px 15px;
    color: white;
    text-align: center;
    font-size: 18px;
    transition: 0.3s;
    font-family: "Poppins", sans-serif;

}

.profile-photo {
    border-radius: 100px;
    margin-left: 20px;
}

.logedin {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-3 {
    font-weight: bold;
    color: #171c3b;
    background: linear-gradient(90deg, var(--c1, #eaf665), var(--c2, #85f5fd) 51%, var(--c1, #eaf665)) var(--x, 0)/ 200%;
    border-radius: 30px;
    padding: 10px 30px;

    @media(width <=40em) {
        display: none;
    }
}

.btn:hover {
    --x: 100%;
}

.btn-3 {
    --c1: #eaf665;
    --c2: #85f5fd;
}

.btn-2:hover {
    color: #85f5fd;
}

.btn-1:hover {
    color: #85f5fd;
}




.container {

    width: 100%;
    margin: 0 auto;
    padding: 50px;
    border-radius: 0px 0px 20px 20px;
    background: rgb(17, 20, 39);
    background: linear-gradient(180deg, #020b1c 0%, rgb(32, 41, 98) 74%);
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: aliceblue;

    border-radius: 100px 100px 0 0;
    width: 100%;
    background-color: #050815;
    padding: 2rem 10rem;
}


  .one-card{
    width: 100%;
    padding: 5rem;
    align-items: start;

    display: flex;
}


.poster img{
    width: 260px;
    border-radius: 10px;
}

.data{
    width: 70%;
    margin-left: 1rem;
}

.rate{
    text-align: center;
    cursor: pointer;
    border: 1px solid #ffc107;
    color: #ffc107;
    background: none;
    padding: 10px;
    width: 15%;
    border-radius: 50px;
    transition: 0.3s;
}

#rate-text{
    color: #ffecb3;
}

.rate:hover{
    color: #1b1f3a;
    background: #ffc107;
}


.title{
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 0.8rem;
    color: #ffffff;
}

.data-set, p{
    display: flex;
    align-items: center;
}

.data-set img{
    margin-right: 10px;
}

.part-one span{
    gap: 20px;
    color: #9ea8cb;
}

.part-one span:last-child{
    margin-top: 10px;
}

.partTow{
    margin-top: 1.6rem;
    display: flex;
    gap: 10px;
}

.partTow p{
    padding: 0.8rem;
    width: 15%;
    background-color: #0d0f20;
    border-radius: 50px;
    font-size: 0.8rem;
    justify-content: center;
    color: #bdc6e3;
}

.description{
    margin-top: 1.6rem;
    width: 80%;
    font-size: 0.8rem;
    color: #9ea8cb;
}




.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(7, 6, 15, 0.637); /* Black w/ opacity */
  }
  
  .rateCon{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }


  /* Modal Content */
  .modal-content {
    background-color: #25283d;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin: auto;
    margin-top: 10rem;
    padding: 20px;
    width: 30%;
    height: 30%;
  }
  

.closeC{
    display: flex;
    align-items: center;
    justify-content: end;
}

  /* The Close Button */
  .close {

    color: #aaaaaa;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

.rateThis{
    color:#ffc700 ;
    font-weight: 600;
    font-size: 2rem;
}
  .rateCon{
    float: left;
    padding: 0 10px;

}
.rateStrars:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rateStrars:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rateStrars:not(:checked) > label:before {
    content: '★ ';
}
.rateStrars > input:checked ~ label {
    color: #ffc700;    
}
.rateStrars:not(:checked) > label:hover,
.rateStrars:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rateStrars > input:checked + label:hover,
.rateStrars > input:checked + label:hover ~ label,
.rateStrars > input:checked ~ label:hover,
.rateStrars > input:checked ~ label:hover ~ label,
.rateStrars > label:hover ~ input:checked ~ label {
    color: #c59b08;
}